PRODUCTDATA{
    background-color: #ffffff;
}

PRODUCT {
    display: block;
}

PRODUCTNAME, DESCRIPTION, CURRENCY, DOMAINPRICE1, DOMAINPRICE2, DOMAINPRICE3, SERVERPRICE1, SERVERPRICE2, SERVERPRICE3, SERVERS, DOMAINREGS , HOSTS{
    display: block;
    margin: 20pt;
    font-size: 20pt;
}