PRODUCTDATA{
    background-color: #ffffff;
}

PRODUCT {
    display: block;
}

PRODUCTNAME, DESCRIPTION, CURRENCY, DOMAINPRICE, SERVERPRICE, SERVERS, DOMAINREGS , HOSTS{
    display: block;
    margin: 20pt;
    font-size: 20pt;
}